spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/warehouseDB
    username: hamza
    password: mypass
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8090