services:
  localstack:
    image: localstack/localstack:latest
    container_name: localstack_main
    ports:
      - "4566:4566"
      - "4510-4559:4510-4559"
    environment:
      - SERVICES=s3,lambda,dynamodb,cloudwatch,ec2
      - DEBUG=1
      - DATA_DIR=/tmp/localstack/data
    volumes:
      - "./localstack_data:/var/lib/localstack"


  sonarqube:
    image: sonarqube:lts
    ports:
      - "9000:9000"
    environment:
      - SONARQUBE_JDBC_USERNAME=hamza
      - SONARQUBE_JDBC_PASSWORD=mypass
      - SONARQUBE_JDBC_URL=jdbc:postgresql://postgres:5432/warehouseDB
